<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <!-- Links -->
        <div class="collapse navbar-collapse" id="basicExampleNav1">

            <!-- Right -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#!" class="nav-link navbar-link-2 waves-effect">
                        <span class="badge badge-pill red">1</span>
                        <i class="fa fa-camera-retro fa-lg"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">
                        <i class="united kingdom flag m-0"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link waves-effect">
                        Sign in
                    </a>
                </li>
                <li class="nav-item pl-2 mb-2 mb-md-0">
                    <a href="#!" type="button"
                       class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Sign up</a>
                </li>
            </ul>
        </div>
        <!-- Links -->

    </nav>
    <!-- Navbar -->
</div>
</body>
</html>