<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="copy">
    <nav class="navbar navbar-expand bg-white navbar-light fixed-top">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="#">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>-->
        </ul>
        <div style="float:right">
            <div class="shopingicons mr-auto">
                <a href="/" class="icons-btn d-inline-block bag"><i class="fa fa-shopping-cart"></i>
                    <span class="glyphicon glyphicon-shopping-cart"> </span>
                </a>
                <span class="number">2</span>
            </div>
        </div>

        <ul class="nav navbar-nav my-2 my-lg-0">
            <li class="nav-item"><a class="nav-link" href="new_user"><i class="fas fa-user"></i> Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
    </nav>
</div>
</body>
</html>