body {
    background-color: #f5eee7;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


.container {
    margin-top: 200px;
    width: 900px;
    height: 50%;
    display: flex;
    justify-content: center;
}

.lh-condensed { line-height: 1.25; }{
}
